.page {
	margin-top: 100px;
	padding-bottom: 0;
}

.page .content > h1 {
	margin-top: 20px;
	margin-bottom: 30px;
	padding: 0;
}

.page .content > * {
	margin-bottom: 24px;
}

.page .last-updated {
	color: #707070;
}

@media (min-width: 720px) {
	.page {
		margin-top: 0;
	}
}

@media (max-width: 959px) {
	.content:not(.custom) {
    padding: 0 20px;
	}
}
