.theme-container p {
  font-size: 1.125rem;
  line-height: 1.8;
}

.theme-container h1 {
  font-size: 2.4rem;
  font-weight: bold;
}

@media (min-width: 720px) {
  .theme-container h1 {
    font-size: 3.2rem;
  }
}


.theme-container .page {
	margin-top: 47px;
	padding-bottom: 0;
}

.theme-container .page blockquote {
  padding: 0;
  border: 0;
  color: $accentColor;
  font-weight: 600;
  quotes: "“" "”" "‘" "’";
}

.theme-container blockquote::before {
  content: open-quote;
  display: inline-block;
  font-size: 1.625rem;
}

.theme-container blockquote::after {
  content: close-quote;
  display: inline-block;
  font-size: 1.625rem;
}

.theme-container blockquote > p {
  display: inline;
  font-size: 1.625rem;
  line-height: 1.38;
  letter-spacing: 0.6px;
}

.page .content > h1 {
	margin-top: 20px;
	margin-bottom: 30px;
	padding: 0;
}

.page .content > * {
	margin-bottom: 24px;
}

.page .last-updated {
	color: greyDark;
}

@media (min-width: 720px) {
	.page {
		margin-top: 0;
	}
}

.content:not(.custom) > *:first-child {
  margin: 0 !important;
}

.theme-default-content:not(.custom) {
  padding-bottom: 20rem !important;
}

.theme-container .content:not(.custom) > h1 {
  margin-bottom: 1.625rem;
  font-weight: bold;
  color: $textColor;
	font-size: 3.375rem;
}

.theme-container .content:not(.custom) > h2 {
  font-size: 1.5rem;
	font-weight: 600;
  line-height: 2.25;
}

.theme-container .content:not(.custom) > h3 {
  font-size: 1.125rem;
	font-weight: 600;
	line-height: 1.75;
}

@media (max-width: 719px) {
  /* Spacing of last updated in content area */
  .theme-default-content:not(.custom)>h1, .theme-default-content:not(.custom)>h2, .theme-default-content:not(.custom)>h3, .theme-default-content:not(.custom)>h4, .theme-default-content:not(.custom)>h5, .theme-default-content:not(.custom)>h6 {
      margin-top: -4rem !important;
  }

  .theme-default-content:not(.custom)>:first-child {
    margin-top: 1rem !important;
  }
}

@media (min-width: 720px) {
	.page {
		margin-top: 0;
	}
}

@media (max-width: 959px) {
	.content:not(.custom) {
    padding: 0 20px;
	}

  .theme-default-content:not(.custom) {
    padding-bottom: 20rem !important;
  }
}
