html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

* {
  line-height: inherit;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*::before,
*::after {
  box-sizing: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
