.home {
  background-color: $accentColor;
}

.home {
  padding-left: 0;
  padding-right: 0;
  height: 100%;
}

.home .hero {
  position relative;
  padding: 0 spacingMedium;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home .hero .action-button {
  position: relative;
  padding: 0;
  background-color: transparent;
  border: none;
  color: white;
}

.home .hero .action-button:hover {
  background-color: transparent;
  text-decoration: underline;
}

.home .hero .action-button:after {
  content: '';
  position: absolute;
  bottom: 0;
  z-index: 2;
  margin-left: 10px;
  width: 20px;
  height: 100%;
  background-image: url('/arrow-right-white.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.home .hero .description::after  {
  content: '';
  position: absolute;
  bottom: 2px;
  margin-left: 10px;
  background-image: url('/logo-white.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 100%;
  z-index: 1;
}

.home .hero h1 {
  font-family: "gilroy";
  font-weight: 700;
  margin-top: 2.5rem;
  margin-left: 0;
  font-size: 50px;
  color: white;
  width: 280px;
  text-align: left;
  order: 1;
}

.home .hero .description {
  position: absolute;
  bottom: .7rem;
  margin: 0;
  color: white;
  font-weight: 600;
  order: 3;
  width: calc(100% - 1.5rem);
  text-align: left;
  font-size: 22px;
}

.home .hero .action {
  order: 2;
  max-width: 500px;
  margin-left: 0;
  text-align: left;
  width: 100%;
}

.theme-container.no-sidebar {
  height 100vh;
}

/* Hide elements */
.home .app-footer {
  display: none;
}

.page-home .home-link {
  display: none;
}

.page-home .navbar {
  border-bottom: none;
}

.page-home .navbar .sidebar-button {
  display: none;
}

.page-home.theme-container.no-sidebar {
  background-color: $accentColor;
}

@media (max-width: 419px) {
  .home {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 720px) {
  .page-home .home {
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
  }

  .home .hero h1 {
    margin-top: 2.5rem;
    font-size: 100px;
  }

  .home .hero .description {
    bottom: 80px;
  }

  .theme-container.no-sidebar .home-link {
    width: 16.4rem;
    height: 100%;
  }

  .theme-container.no-sidebar .links {
    border-bottom: 0;
  }

  .home .hero:after {
    display: none;
  }
}

@media (min-width: 960px) {
  .page-home .search-box {
    margin-top: 80px;
  }
}
