.theme-container .navbar {
  background-color: #fff;;
  border-color: border-color;
}

.navbar .links {
  background-color: transparent;
}

.navbar .sidebar-button {
	top: 16px;
  width: 1.5rem;
  height: 1.5rem;
}

.sidebar-button svg,
.sidebar-button .icon {
  display: none;
}

.navbar .sidebar-button:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/icon-menu.svg');
  background-size: 70% 70%;
  background-position: center;
  background-repeat: no-repeat;
}

.sidebar-open .navbar .sidebar-button:after {
  background-image: url('/icon-close.svg');
}

.theme-container .sidebar {
  background-color: greyLight;
}

@media (min-width: 720px) {
	.navbar .sidebar-button {
		top: 0;
	}

	.navbar .site-name {
    position: relative;
    width: 220px;
    font-family: gilroy, arial, sans-serif;
		font-size: 2.5rem;
		font-weight: 700;
		line-height: 1.1;
		margin-top: 35px;
		margin-left: 40px;
		margin-right: 40px;
		background: greyLight;
	}

	.theme-container .sidebar {
		top: 200px;
		padding-top: 40px;
	}

  .theme-container:not(.no-sidebar) .navbar {
    background-color: white;
    border: none;
  }

  .theme-container.no-sidebar .navbar {
    background-color: transparent;
  }

  .home-link {
    position: relative;
    width: 340px;
    height: 200px;
    background-color: greyLight;
  }

  .home-link::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 16px;
    height: 100%;
    box-shadow: 4px 0 16px 0px rgba(0,0,0,0.08);
  }

  .navbar {
    padding: 0;
  }

  .navbar .site-name {

  }

  .navbar .site-name:after {
    position: absolute;
    content: 'by Hike One';
		font-size: 1rem;
		font-weight: 500;
    top: 105%;
    left: 0;
    width: 100%;
  }

  .theme-container .navbar {
    background-color: white;
  }

  .theme-container:not(.no-sidebar) .links {
    display: flex;
    justify-content: flex-end;
    padding-bottom: .7rem;
    padding-left: 0;
    width: maxWidthMedium;
    border-bottom: 1px solid border-color;
    background-color: transparent;
  }
}

@media (min-width: 960px) {
  .theme-container:not(.no-sidebar) .links {
    width: maxWidthLarge;
  }
}
