.prev,
.next {
	color: $accentColor;
}

.page-nav {
	padding: 30px;
	background-color: greyLight;
}

.page-nav .inner {
    margin: 0 auto;
		min-height: auto;
		padding: 0;
		border: 0;
  }

@media (min-width: 720px) {
  .page-nav {
		max-width: none;
    position: fixed;
    bottom: 0;
    right: 0;
		left: 340px;
  }
}
