.search-box input {
  color: greyDark;
  background-color: transparent;
  background-image: url('/search--blue.svg');
}

.search-box input:focus {
  border-color: greyDark;
}

.search-box .suggestions {
  margin-top: 1.2rem;
  border-color: greyDark;
}

@media (min-width: 960px) {
  .search-box input {
    border-color: greyDark;
  }
}
