.search-box input {
  color: greyDark;
  background-position: 12px center;
}

.search-box input:focus {
  border-color: greyDark;
}

.search-box .suggestions {
  margin-top: 1.2rem;
  border-color: greyDark;
}

@media (min-width: 960px) {
  .search-box input {
    width: 16.25rem;
    height: 2.5rem;
    border-radius: 4px;
    border-color: greyLight;
    background-color: greyLight;
  }
}
